# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
.build/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.swiftpm/
.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Editor
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Local no-Xcode app build
.build-app/
